Repository HosseinnFazlii/sportbooking-api-main, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rismun-com/api-docs, @rismun-com/api-team, @rismun-com/db-team, @rismun-com/devops

.github/CODEOWNERS:

# Require reviews from code owners
/docs/*            @rismun-com/api-docs
/src/api/**        @rismun-com/api-team
/db/migrations/**  @rismun-com/db-team
Dockerfile         @rismun-com/devops

ssss
  src/api/auth/auth.module.ts
  src/api/auth/constants.ts
Owners: @rismun-com/api-team

ddd
  src/api/auth/auth.module.ts
Owners: @rismun-com/api-team

sss
  src/api/auth/auth.module.ts
Owners: @rismun-com/api-team

Update auth.service.ts
  src/api/auth/auth.service.ts
Owners: @rismun-com/api-team

SSSS
  src/config/ormconfig.ts
Owners: none

SSS
  src/common/global-connection.ts
Owners: none

update
  Dockerfile
  docker-compose.yml
Owners: @rismun-com/devops

update
  Dockerfile
Owners: @rismun-com/devops

update
  docker-compose.yml
Owners: none

ssss
  Dockerfile
Owners: @rismun-com/devops
